[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
flask = "*"
rich = "*"
requests = "*"

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
